.footer1{
    text-align: right;
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: flex-end;
    color: azure;
   

}

h2{
    text-align: center;
}

footer
{text-align: left;}

.contenedor-menu img{
    width: 10%;
}

.contenedor-menu{
    background-color: rgb(12, 11, 11);
    display: flex;
    justify-content: space-around;
}

.menuprincipal{
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: flex-end;
    color: rgb(221, 195, 161);
}

.imagenfinal{
    width: 1%;
    display: flex;
    justify-content: center;
}


.titulo1{
    text-align: center;
        
    color: indianred;
    font-style: italic;

 }

 .footercolor{
    background-color: rgb(1, 10, 10);
    display: flex;
    justify-content: space-around;
 }

 .fotocentrada{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
   }
   .seccionmedio{
    background-color: rgb(235, 223, 171);
    display:block ;
    justify-content: flex-start;
    align-self: center;
   }

   .imagenpagos{
       width: 100px;
       height: 100px;
    }

    .titulopago{
        text-align: center;
    }

    .imagenvariedad{
        width: 200px;
        height: 200px;
     }

     .cajacontenedora{
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        height: 800px;
        align-items: center;
        align-content:center;
        

        
           } 
            .gridindex {
                background-color:rgb(235, 223, 171);
                display: grid;
                grid-template-columns: 1fr  1fr ;
                grid-template-rows: 0.15fr 3fr 0.25fr;
                justify-items: stretch;
                justify-content: stretch;
                align-items: stretch;
                grid-template-areas:
                "header header"
                "nav  nav"
                "footer footer "
                

                
                }

                .contenedor-menu{
                    grid-area: header;

                }

                .titulo1{
                    grid-area:auto;
                    justify-self: center;
                    
                    
                }

           

                .footercolor{
                    grid-area: footer;
                    
                }




                /* tamaño  celular */

                @media screen and (max-width:768px)  {
                    
                    .gridindex {
                        background-color:rgb(171, 235, 182);
                        display: grid;
                        grid-template-columns: 1fr  ;
                        grid-template-rows: 0.15fr 3fr 0.25fr;
                        justify-items: center;
                        justify-content: center;
                        align-items: center;
                        grid-template-areas:
                        "header "
                        "nav  "
                        "footer  "
                    }
                     .titulo1{
                            text-align: center ;
                                
                            color: rgb(113, 92, 205);
                            font-style: italic;  
                        }
                        
                        .footercolor{
                            background-color: rgb(163, 95, 7);
                            display: flex;
                            justify-content: space-around; 
                        }
                        .contenedor-menu{
                            background-color: rgb(163, 95, 7);
                            display: flex;
                            justify-content: space-around;
                        }


                }
               
                /* tamaño web*/

                @media screen and (min-width: 1100 px)
                {   .gridindex {
                    background-color:rgb(9, 10, 10);
                    display: grid;
                    grid-template-columns: 1fr  ;
                    grid-template-rows: 1fr ;
                    justify-items: center;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    grid-template-areas:
                    "header  "
                    "nav  "
                    "footer   "
                }
                @media screen and (max-width: 1100 px)
                {   .gridindex {
                    background-color:rgb(9, 10, 10);
                    display: grid;
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 0.15fr 3fr 0.25fr;
                    justify-items: left;
                    justify-content: left;
                    align-items: left;
                    grid-template-areas:
                    "header header "
                    "nav  nav"
                    "footer footer  "
                }
                 .titulo1{
                        text-align: center ;
                            
                        color: rgb(165, 154, 212);
                        font-style: italic;  
                    }
                    
                    .footercolor{
                        background-color: rgb(10, 6, 2);
                        display: flex;
                        justify-content: space-around; 
                    }
                    .contenedor-menu{
                        background-color: rgb(8, 8, 8);
                        display: flex;
                        justify-content: space-around;
                    }

}

                /* tamaño pequeñas pamntallas */

                @media screen and (max-width: 480 px){

                    .gridindex {
                        background-color:rgb(235, 171, 171);
                        display: grid;
                        grid-template-columns: 1fr 1fr ;
                        grid-template-rows: 0.15fr 3fr 0.25fr;
                        justify-items: center;
                        justify-content: center;
                        align-items: center;
                        grid-template-areas:
                        "header nav "
                        " header nav"
                        "footer footer  "
                    }
                     .titulo1{
                            text-align: center ;
                                
                            color: rgb(154, 212, 176);
                            font-style: initial;  
                        }
                        
                        .footercolor{
                            background-color: rgb(10, 6, 2);
                            display: flex;
                            justify-content: center; 
                        }
                        .contenedor-menu{
                            background-color: rgb(8, 8, 8);
                            display: flex;
                            justify-content: center;
                        }
    
 }
/* a:*/
 a:hover{ font-weight: bold;
    background-color: red;
    color: rgb(127, 20, 220);
}

a:link{ text-decoration: none;
    color: chartreuse;
}
a:visited{ color: aqua;
}

a:active{ background-color: darkmagenta;
    color: darkgoldenrod;
}

